<h1>Listing users</h1>

<table>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

