<h1>Users</h1>

<table class="table table-hover">
  <thead>
    <th> </th>
    <th> rated beers </th>
    <th> total ratings </th>
    <th> favorite beer </th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.beers.size %></td>
        <td><%= user.ratings.size %></td>
        <td><%= user.favorite_beer %></td>
      </tr>
    <% end %>
  </tbody>
</table>

