<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script>
    function BeersController($scope, $http) {
        $http.get('beers.json').success( function(data, status, headers, config) {
            $scope.beers = data;
        });

        $scope.order = 'name';

        $scope.click = function (order){
            $scope.order = order;
            console.log(order);
        }

        $scope.searchText = '';
    }
</script>

<h2>Beers</h2>

<div ng-app ng-controller="BeersController">
  search:  <input ng-model="searchText">

  <table>
    <thead>
    <th> <a ng-click="click('name')">name</a> </th>
    <th> <a ng-click="click('style.name')">style</a> </th>
    <th> <a ng-click="click('brewery.name')">brewery</a> </th>
    </thead>
    <tr ng-repeat="beer in beers| orderBy:order | filter:searchText">
      <td>{{beer.name}}</td>
      <td>{{beer.style.name}}</td>
      <td>{{beer.brewery.name}}</td>
    </tr>
  </table>

</div>